

<main>
    <h1>Ticket de Compra</h1>
    <p>Fecha: {{ticket.date}}</p>
    <p>Total: {{ticket.totalPrice}}</p>
    <h2>Productos Comprados:</h2>
    <ul>
        {{#each ticket.products}}
        <li>{{this.product.title}} - Cantidad: {{this.quantity}}</li>
        {{/each}}
    </ul>
    <a href="/products" class="btn btn-primary">Volver a Productos</a>
</main>